/* Fonts */
/* Navbar fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap"); /* font-family: 'Montserrat', sans-serif; */
/* Mid banner fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* Nav Bar styles*/
/* Top Banner */
.topBanner {
  display: grid;
  grid-template-areas: "customer_service shipping_and_return_link track_order_link ";
  background-color: #0769da;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.topBanner p span {
  font-weight: 800;
}
.customer_service {
  grid-area: customer_service;
  width: 70vw;
  padding-left: 3vw;
}

.shipping_and_return_link {
  grid-area: shipping_and_return_link;
  width: 15vw;
}

.track_order_link {
  grid-area: track_order_link;
  width: 15vw;
  align-self: center;
}

/* Mid Banner */
.midBanner {
  display: grid;
  grid-template-areas: "logo searchDiv";
  padding-top: 2vh;
  align-items: center;
  background-color: #0573f0;
  padding-bottom: 2vh;
  color: white;
}
.midBanner a {
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  color: white;
}
.midBanner .logo {
  grid-area: logo;
  width: 10vw;
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  margin-left: 3vw;
}

.midBanner .searchDiv {
  grid-area: searchDiv;
  width: 90vw;
  display: grid;
  grid-template-areas: "searchBar searchBtn";
  justify-content: end;
}
.searchBar {
  grid-area: searchBar;
}
.searchBtn {
  grid-area: searchBtn;
  margin-left: 1vw;
  margin-right: 6vw;
}

/* LowerMenuBanner */
.lowerBanner {
  background-color: #0573f0;
  border: none;
  border-top: 1px solid #0769da;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.categories_and_cart {
  display: grid;
  grid-template-areas: "links cart";
}
.categories_and_cart a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.categories_and_cart a:hover {
  color: salmon;
}
.categoryLinks {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 3vw;
}
.cart_and_login {
  grid-area: cart;
  display: grid;
  grid-template-areas: "cartLink verticalLine loginLink";
  justify-content: space-evenly;
}
.cart_vertical_line {
  grid-area: verticalLine;
  width: 0vw;
  border-left: 1px solid white;
  height: 3vh;
  align-content: center;
}
.cart {
  grid-area: cartLink;
}
.login {
  grid-area: loginLink;
}

/* Product Page */
.productPage {
  display: grid;
  grid-template-areas: "categoriesSideBar productDisplay";
  margin-top: 3vh;
  margin-left: 3vw;
}
.categoriesSideBar {
  grid-area: categoriesSideBar;
  width: 30vw;
}
.productDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: productDisplay;
  width: 70vw;
  margin-bottom: 3vh;
  row-gap: 5vw;
}
/* Product Display */
/* Category Side Bar */
.categoryListTitle {
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 10vh;
}
.categoryList {
  display: grid;
  grid-template-columns: 1fr;
}
.categoryList a {
  margin-bottom: 5vh;
  text-decoration: none;
  color: rgb(43, 42, 42);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.categoryList a:hover {
  color: #0573f0;
}
/* Product Item Card*/
.productItemCard {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "price";
}
.productItemImage {
  grid-area: image;
}
.productItemTitle {
  grid-area: title;
  width: 300px;
}
.productItemPrice {
  grid-area: price;
}
