/* Fonts */
/* Navbar fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap"); /* font-family: 'Montserrat', sans-serif; */
/* Mid banner fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* Hero Article Fonts */
/* Title and Paragraph */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;600&display=swap");

/* Nav Bar styles*/
/* Top Banner */
.topBanner {
  display: grid;
  grid-template-areas: "customer_service shipping_and_return_link track_order_link ";
  background-color: #0769da;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.topBanner p span {
  font-weight: 800;
}
.customer_service {
  grid-area: customer_service;
  width: 70vw;
  padding-left: 3vw;
}

.shipping_and_return_link {
  grid-area: shipping_and_return_link;
  width: 15vw;
}

.track_order_link {
  grid-area: track_order_link;
  width: 15vw;
  align-self: center;
}

/* Mid Banner */
.midBanner {
  display: grid;
  grid-template-areas: "logo searchDiv";
  padding-top: 2vh;
  align-items: center;
  background-color: #0573f0;
  padding-bottom: 2vh;
  color: white;
}
.midBanner a {
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  color: white;
}
.midBanner .logo {
  grid-area: logo;
  width: 10vw;
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  margin-left: 3vw;
}

.midBanner .searchDiv {
  grid-area: searchDiv;
  width: 90vw;
  display: grid;
  grid-template-areas: "searchBar searchBtn";
  justify-content: end;
}
.searchBar {
  grid-area: searchBar;
}
.searchBtn {
  grid-area: searchBtn;
  margin-left: 1vw;
  margin-right: 6vw;
}

/* LowerMenuBanner */
.lowerBanner {
  background-color: #0573f0;
  border: none;
  border-top: 1px solid #0769da;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.cartTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  z-index: 2;
  height: 3vh;
  width: 1vw;
  border-radius: 50%;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  color: white;
  background-color: red;
}

.categories_and_cart {
  display: grid;
  grid-template-areas: "links cart";
}
.categories_and_cart a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.categories_and_cart a:hover {
  color: salmon;
}
.categoryLinks {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 3vw;
}
.cart_and_login {
  grid-area: cart;
  display: grid;
  grid-template-areas: "cartLink verticalLine loginLink";
  justify-content: space-evenly;
}
.cart_vertical_line {
  grid-area: verticalLine;
  width: 0vw;
  border-left: 1px solid white;
  height: 3vh;
  align-content: center;
}
.cart {
  grid-area: cartLink;
  position: relative;
}
.login {
  grid-area: loginLink;
}
/* Home Page */
/* Hero */
.hero {
  position: relative;
  background-image: url("../src/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10vh;
  margin-bottom: 20vh;
  height: 100vh;
}
.heroArticle {
  position: absolute;
  top: 20vh;
  right: 5vw;
}
.heroInfobar {
  position: absolute;
  top: 106vh;
  left: 5vw;
  right: 5vw;
}
/* Hero Article */
.heroArticleContainer {
  display: grid;
  grid-template-areas:
    "title"
    "paragraph"
    "calltoaction";
  background-color: #eae3e3;
  width: 25vw;
  height: 60vh;
}
.heroArticleTitle {
  grid-area: title;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  color: #27323f;
  padding: 5vh 2vw 0 2vw;
}
.heroArticleParagraph {
  grid-area: paragraph;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  padding: 0 2vw 0 2vw;
}
.heroArticleCallToAction {
  grid-area: calltoaction;
  padding: 0 0 0 2vw;
}

/* hero Info Bar */
.heroInfoBarContainer {
  display: grid;
  grid-template-columns: 4fr 0.5fr 4fr 0.5fr 4fr 0.5fr 4fr; /* Adjusted grid-template-columns */
  background-color: #eae3e3;
  padding: 5vh 2vw 5vh 2vw;
}

.infoWrapper {
  display: flex; /* Changed from grid to flex */
  align-items: center; /* Added to vertically align items */
}

.infoBarIcon {
  margin-right: 10px; /* Added margin for spacing */
}

.infoWrapperCol-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Added to align text to the left */
  margin-left: 10px; /* Added margin for spacing */
}

.MuiDivider-root {
  height: 100%; /* Set height to 100% to make the divider stretch vertically */
  justify-self: center;
}

/* Product Page */
.productPage {
  display: grid;
  grid-template-areas: "categoriesSideBar productDisplay";
  margin-top: 3vh;
  margin-left: 3vw;
}
.categoriesSideBar {
  grid-area: categoriesSideBar;
  width: 30vw;
}
.productDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: productDisplay;
  width: 70vw;
  margin-bottom: 3vh;
  row-gap: 5vw;
}
/* Product Display */
/* Category Side Bar */
.categoryListTitle {
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 10vh;
}
.categoryList {
  display: grid;
  grid-template-columns: 1fr;
}
.categoryList a {
  margin-bottom: 5vh;
  text-decoration: none;
  color: rgb(43, 42, 42);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.categoryList a:hover {
  color: #0573f0;
}
/* Product Item Card*/
.productItemCard {
  position: relative;
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "price";
  width: 300px;
}
.addToCart {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  padding: 8px;
}
.productItemCard:hover {
  border: none;
  border-radius: 3vw;
  box-shadow: 0 2px 40px #0573f0;
  width: 330px;
}

.productItemImage {
  grid-area: image;
}
.productItemTitle {
  grid-area: title;
  padding-left: 2vw;
  width: 300px;
}

.productItemPrice {
  grid-area: price;
  padding-left: 2vw;
  color: #0573f0;
}

/* Cart Page */
.cartPageDisplay {
  display: grid;
  grid-template-areas: "summary total";
}
.summary {
  grid-area: summary;
}
.total {
  grid-area: total;
}
